{ config, pkgs, ... }:

{
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{  .chezmoi.homeDir }}";

  home.stateVersion = "26.05";

  home.packages = with pkgs; [
    chezmoi

    git

    bat
    ripgrep

    neovim-unwrapped
    (python3.withPackages (ps: [ ps.pynvim ]))
  ];

  programs.home-manager.enable = true;
}
