[user]
	email = {{ .git.email }}
	name = {{ .git.name }}

[init]
	defaultBranch = trunk

[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = plaintext

[credential "https://dev.azure.com"]
	useHttpPath = true
